html {
    overflow-y:scroll;
}

body {
    padding-top: 54px;
}

.card {
    background-color: lightgray;
}

.portfolio-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
    width: 100%;
    height: auto;
    max-width: 600px;
}

.portfolio-img-pointer:hover {
    cursor: pointer;    
    opacity: 0.7;
}

.portfolio-img-caption {
    text-align: center;
    font-weight:300;
    position: relative;
    top: -20px;
}

.portfolio-youtube {
    text-align: center;
    margin: 20px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
/* Image */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
}
  
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* Animation */
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
  
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
  
/* Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
  
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

.code {
    background-color: darkslategrey;
    color: white;;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
}